* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    line-height: 140%;
    font-size: 14px;
    font-family: Arial;
}

h1 {
    line-height: 120%;
    font-size: 150%;
    font-weight: 500;
}
.meta {
    color: #999;
    font-size: 90%;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.ticket {
    width: 480px;
    padding: 15px 15px 15px 15px;
    border: 6px solid;
    margin: 20px;
    overflow: hidden;
}
.ticket--bug {
    border-color: red;
}
.ticket--feature {
    border-color: green;
}

.ticket__labels {
    font-size: 90%;
}
.ticket__description {
    height: 160px;
    margin: 10px 0;
}

@media print {
    body {
        line-height: 16px;
        font-size: 11px;
    }
    .ticket {
        width: 450px;
        padding: 10px 10px 5px 10px;
    }
    .ticket__description {
        height: 130px;
    }
    a {
        color: inherit;
    }
}
